
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: #18467a;
}

header {
  background-color: #001f3f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 14px;
}

/*nav ul {
    list-style: none;
}*/

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.producto {
  /*border: 1px solid #9A031E;*/
  margin: 20px 10px;
  text-align: center;
  background-image: url(../img/fondo.jpg);
  padding: 20px;
}

.producto img {
  max-width: 500px;
  height: 600px;
  padding: 20px;
}

.precio {
  font-weight: bold;
  color: #0f0803;
}

button {
  background-color: #4e5253;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #001f3f;
}

footer {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.edicion-especial {
  display: flex;
  flex-direction: column;
  text-align: center;
  /*border: 1px solid #9A031E;*/
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.texto {
  background-color: #f5f5f5;
}

.bodegas {
  text-align: center;
  background-color: white;
}

.texto {
  background-color: white;
}

.formulario {
  background-color: #001f3f;
  color: #fff;
  padding: 20px;
  
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
}

button {
  background-color: #4e5253;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #001f3f;
}

button:active {
  background-color: rgb(90, 116, 232);
}

footer {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.botton {
  display: inline;
  background-color: #678bb2;
  text-decoration: none;
  text-align: right;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
}

.botton:hover {
  background-color: darkorange;
}

.botton:active {
  background-color: rgb(243, 31, 144);
}

.grid-container {
  display: grid;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0%;
  justify-content: center;
}
video {
  max-width: 100%;
}

/*.descubre {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}*/

.mapa {
  display: flex;
  justify-content: center;
}

.nav-boton {
  background-color: rgb(100, 86, 86);
  color: #f5f5f5;
  padding: 5px 10px;
  border: 2px solid black;
  display: none;
  font-size: x-large;
}

.botones {
  background-color: rgb(17, 18, 87);
  color: #f5f5f5;
  padding: 10px;
  border: 2px solid black;
  display: none;
}

@media (max-width: 600px) {
  .enlace {
    flex-direction: column;
  }
  .nav-boton {
    display: inline-block;
  }
  .grid-container {
    justify-content: center;
    max-width: 100%;
  }
  .texto {
    justify-content: center;
    align-content: flex-start;
  }
  .botones {
    display: inline;
  }
  .desaparece {
    display: none;
  }
  .catalogo {
    justify-content: space-around;
  }

  .grid-caja {
    flex-direction: column;
    justify-content: center;
    padding: auto;
  }
  .producto img {
    flex-direction: column;
    justify-content: center;
    padding: 0, auto;
    max-width: 200px;
    height: 250px;
    padding: 10px;
  }
}

.social-icons {
    text-align: center;
    color: #fff;
    padding-top: 10px;
    
  }
  a{
      color: white;
      padding: 5px;
      text-decoration: none;
  }
  a:hover{
      color: #4e5253;
  }
  .NuestroLocal{
    text-align: center;
    padding: 10px;
    justify-self: center;
    align-self: center;

  }
